<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd">
<context:annotation-config/>

<!-- <bean id = "heart" class = "SpringCore.autoWiring.Heart"></bean>
<bean id = "human" class = "SpringCore.autoWiring.Human" autowire = "constructor">
 -->
<!-- <property name="heart" ref = "heart"></property>  old way -->


<bean id = "humanHeart" class = "SpringCore.autoWiring.Heart"> 
<property name="nameOfAnimal" value = "Human"></property>
<property name="noOfHeart" value = "1"></property>
</bean>

<bean id = "octpousHeart" class = "SpringCore.autoWiring.Heart"> 
<property name="nameOfAnimal" value = "Octopus"></property>
<property name="noOfHeart" value = "3"></property>

</bean>

<bean id = "human" class = "SpringCore.autoWiring.Human"></bean>


</beans>